[submodule "userChrome"]
	path = userChrome
	url = git@gist.github.com:a2ba14e8fbf58d32e0ac54feb1feadd0.git
[submodule "portableff"]
	path = portableff
	url = git@gist.github.com:0571c7e228f6c3a058578962c9dd2a94.git
[submodule "virtualbox"]
	path = virtualbox
	url = git@gist.github.com:be27c7fed20ab80ff55f62b68a95fbbc.git
[submodule "initvim"]
	path = initvim
	url = git@gist.github.com:322ad5225cbffe799a78a37e896197a4.git
[submodule "ambilight"]
	path = ambilight
	url = git@gist.github.com:bd6ddc7a020df0f902faa41c4169f89e.git
[submodule "switch-theme"]
	path = switch-theme
	url = git@gist.github.com:e3956fdff8824d168354199bf238115e.git
[submodule "bookmarks"]
	path = bookmarks
	url = git@gist.github.com:4865ba51fcd0a4af660f09e0c5dbcf5e.git
[submodule "ahk"]
	path = ahk
	url = git@gist.github.com:e65375e1932c01ed96a818bba0978aa6.git
[submodule "adb"]
	path = adb
	url = git@gist.github.com:c913a41e4f77f2ed7b25adeddf44acb9.git
[submodule "curls"]
	path = curls
	url = git@gist.github.com:a15fe3c87293cab5ef5592772fcb1479.git
[submodule "gitpy"]
	path = gitpy
	url = git@gist.github.com:9ad55eafaeb7ab15746f1341bd858456.git
[submodule "ssh"]
	path = ssh
	url = git@gist.github.com:57897f3c8ff5e14eaa781c3fbb2bd3c8.git
